@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.toolbar-icons {
		@apply h-6 w-6 mb-3 cursor-pointer;
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
